{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^dotenv$",
    "^axios",
    "<THIRD_PARTY_MODULES>",
    "^@/core/(.*)$",
    "^@/server/(.*)$",
    "^@/ui/(.*)$",
    "^@/domain/(.*)$",
    "^@/controllers/(.*)$",
    "^@/routes/(.*)$",
    "^@/services/(.*)$",
    "^@/config/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
