.alert-message {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  font-size: 14px;
  border-left: 4px solid;
  background-color: #f9f9f9;
  margin-bottom: 8px;
  margin-top: 8px;

  .icon-warning {
    margin-right: 8px;
  }

  &.warning {
    border-color: #ffa500;
    color: #ff8c00;
  }

  &.error {
    border-color: #dc3545;
    color: #dc3545;
  }
}
